body {
  background: #000;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
}

.player {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.master {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.display,
.playerDisplay,
.display canvas,
.playerDisplay canvas {
  width: 800px;
  height: 550px;
  min-height: 550px;
}

.display {
  margin: auto;
  border: 3px solid gold;
}

.editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid #007b9c;
  height: 100%;
  box-sizing: border-box;
}

.toolbar {
  display: flex;
  flex-direction: column;
  width: 100px;
  background: #1b1e27;
}

.toolbar-button {
  width: 90px;
  height: 90px;
  margin: 5px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 1px 6px;
  border: 1px solid #42575f;
  background: #282c38;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  color: #fff;
  text-shadow: 1px 1px 0 #00000057;
}

.toolbar-button:hover {
  background: #1b1e27;
}

.runButton {
  height: 70px;
}

.ace_editor {
  height: 100%;
}

.rightSide {
  position: relative;
  height: 100%;
  width: 800px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  box-sizing: border-box;
  flex-grow: 1;
}

.tabRadio {
  display: none;
}

.tabHead {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  color: #fff;
  cursor: pointer;
}

.tabBody {
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 0;
  right: 0;
  border: 3px solid grey;
  box-sizing: border-box;
}

.tabRadio + .tabHead + .tabBody {
  display: none;
}

.tabRadio:checked + .tabHead {
  background: #333;
}

.tabRadio:checked + .tabHead + .tabBody {
  display: block;
}

canvas {
  image-rendering: pixelated;
}

.codeDisplay {
  position: absolute;
  top: 47px;
  bottom: 0;
  flex-direction: column;
  box-sizing: border-box;
  color: #79dc24;
  width: 50%;
  font-size: 18px;
  display: none;
}

.codeDisplay pre {
  font-family: monospace;
  margin: 0;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  padding: 20px;
  background: #272822;
  border: 2px solid #007b9c;
}

.leftCode {
  left: 0;
}

.rightCode {
  right: 0;
}

.code-container {
  display: flex;
  flex-grow: 1;
}

.rightCode .code-container {
  flex-direction: row-reverse;
}

.rightCode .name {
  flex-direction: row-reverse;
}

.master.wait .codeDisplay {
  display: flex;
}

.select-window {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.select-window.opened {
  width: 600px;
  border: 1px solid #007b9c;
  box-shadow: 0 0 20px #000;
}

.select-view {
  display: none;
  background: #1b1e27;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 99px;
  right: 0;
  overflow: auto;
}

.select-button {
  display: flex;
  outline: none;
}

.select-button.selected {
  background: #394f5a;
}

.select-button + .select-button {
  margin-top: 10px;
}

.select-button .unit-img {
  margin: auto;
  transform: scale(1.5);
  image-rendering: pixelated;
}

.select-window.opened .select-view {
  display: block;
}

.unit {
    display: flex;
    position: relative;
    color: #fff;
    background: #1b1e27;
    margin: 5px;
    box-sizing: border-box;
    padding: 5px 15px;
    cursor: pointer;
}

.unit:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #367a91, transparent);
}

.unit:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: inherit;
}

.unit:hover {
    background: #1f232d;
}

.unit-img {
  position: relative;
  z-index: 2;
  width: 64px;
  min-width: 64px;
  height: 64px;
}

.unit-type {
  background: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 2px;
}

.unit-type.melee, .unit-mellee {
  color: #e5ab4c;
}

.unit-type.shooting, .unit-shooting {
  color: lightgreen;
}

.unit-type.magic, .unit-magic {
  color: violet;
}

.unit-description {
    position: relative;
    display: flex;
    z-index: 2;
    flex-grow: 1;
}

.unit-id {
  width: 50%;
  box-sizing: border-box;
  padding-right: 10px;
}

.unit-values {
  width: 50%;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.2);
  padding: 3px 6px;
}

.character_null {
  position: relative;
  background: url('/img/character_null.png');
  background-position: 0 -135px;
}

.character_magic {
  background: url('/img/character_magic.png');
  background-position: 0 -135px;
}

.character_nekr {
  background: url('/img/character_nekr.png');
  background-position: 0 -135px;
}

.character_ork {
  background: url('/img/character_ork.png');
  background-position: 0 -135px;
}

.character_palladin {
  background: url('/img/character_palladin.png');
  background-position: 0 -135px;
}

.character_varvar {
  background: url('/img/character_varvar.png');
  background-position: 0 -135px;
}

.character_winter {
  background: url('/img/character_winter.png');
  background-position: 0 -135px;
}

.army-display {
  background: #1b1e27;
  width: 100px;
}

.unit-grey {
  color: #367a91;
}

.run-icon {
  position: relative;
  width: 20px;
  height: 32px;
  margin: auto;
}

.run-icon:before {
  content: '';
  border: 14px solid transparent;
  border-left: 20px solid #09b309;
  position: absolute;
  top: 0;
  left: 0;
}

.documentation {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 100;
  background: rgba(0, 0, 0, .4);
  display: none;
}

.documentation.opened {
  display: block;
}

.documentation .container {
  margin: 50px auto;
  width: 100%;
  max-width: 700px;
  background: #1b1e27;
  color: #409acf;
  box-shadow: 0 0 20px rgba(0, 0, 0, .4);
  padding: 5px 5px;
}

.documentation section {
  position: relative;
  background: #2a2e3c;
  padding: 10px;
}

.documentation section.action {
  padding-top: 25px;
  background: #aeb67c;
  color: #1f232d;
}

.documentation section.action:before {
  content: 'действие';
  position: absolute;
  left: 15px;
  top: 0;
  background: #2a2e3c;
  color: #608999;
  padding: 2px 5px;
  border-radius: 0 0 3px 3px;
  font-size: 11px;
}

.documentation section.getter {
  padding-top: 25px;
  background: #7bad74;
  color: #1f232d;
}

.documentation section.getter:before {
  content: 'функция';
  position: absolute;
  left: 15px;
  top: 0;
  background: #2a2e3c;
  color: #608999;
  padding: 2px 5px;
  border-radius: 0 0 3px 3px;
  font-size: 11px;
}

.documentation section + section {
  margin-top: 10px;
}

.documentation .signature {
  background: rgba(0, 0, 0, .3);
  border-left: 4px solid rgba(0, 0, 0, .3);
  padding: 5px 10px;
  margin-bottom: 10px;
  line-height: 1.5;
  color: #fff;
}

.documentation .attr {
  background: rgba(0, 0, 0, .3);
  padding: 0 4px;
  border-radius: 2px;
  color: #fff;
}

.documentation .code {
  text-align: left;
  background: rgba(0, 0, 0, .3);
  padding: 15px;
  border-radius: 2px;
  font-size: 16px;
  color: #fff;
}

.documentation ul{
  margin-top: 0;
}

.documentation ul li + li {
  margin-top: 15px;
}

.documentation .exclamation {
  color: #3f465b;
  font-style: italic;
  margin-top: 5px;
}

.documentation .class {
  font-weight: bold;
}

.documentation .main {
  text-align: center;
  color: #5f99b2;
  font-size: 16px;
  counter-reset: item;
  padding-left: 0;
  list-style-type: none;
}

.documentation .main div + div {
  margin-top: 10px;
}

.documentation .main li {
  position: relative;
  margin-bottom: 30px;
  border: 1px solid rgba(255, 255, 255, .3);
  padding: 5px 30px 10px;
}

.documentation .main li::before {
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  counter-increment: item;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, .3);
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .8);
  line-height: 27px;
  font-weight: 500
}

.documentation .main .header {
  color: #ffffaa;
  font-size: 22px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .8);
}

.documentation .exclamation:before {
  content: '!';
  font-style: normal;
  font-weight: bold;
  background: rgba(86, 9, 9, 0.45);
  padding: 0 7px;
  border-radius: 50%;
  color: #fff;
  margin-right: 6px;
  width: 5px;
}

.help-icon {
    font-weight: bold;
    font-size: 36px;
    color: #12a2da;
}

#newSession {
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;
}

.name {
    height: 47px;
    min-height: 47px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #69909f;
    background: #2a2e3c;
    box-sizing: border-box;
    padding: 0 15px;
    border-bottom: 1px solid #007a9c;
}

.name label {
    width: 50px;
}

.name input {
    flex-grow: 1;
    height: 28px;
    font-size: 14px;
    box-sizing: border-box;
    background: #171921;
    color: #69909f;
    border: none;
    padding: 0 8px;
    outline: 1px solid #384863;
}

.name input:focus {
  outline: 1px solid #43517b;
  outline-offset: 0;
}

.sample-button {
  border: 1px solid #0088cc;
  background-color: #0072ab;
  height: 28px;
  color: #fff;
  text-shadow: 1px 1px 0 #00000057;
  margin-left: 20px;
  padding: 0 20px;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  transition: background-color .3s;
}

.sample-button:hover {
  background: #006293;
}

.client {
  display: flex;
  align-items: center;
}

.client.right {
  flex-direction: row-reverse;
  text-align: right;
}

.client-status {
  width: 110px;
}

.client-status.ready {
  color: greenyellow;
}

.client-status.wait {
  color: #826f2c;
}

.client-connection {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border-radius: 50%;
  background: #861815;
  position: relative;
}

.client-connection.active {
  background: greenyellow;
}

.clients-display {
  height: 47px;
  min-height: 47px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #69909f;
  background: #2a2e3c;
  box-sizing: border-box;
  padding: 0 15px;
  border-bottom: 1px solid #007a9c;
}

.clients-display > .left,
.clients-display > .right {
  width: 50%;
}

battle-console {
  position: relative;
  display: block;
  border-top: 1px solid #297e88;
  overflow-y: auto;
  flex-grow: 1;
}

battle-console .console-lines {

}

@keyframes shout {
  from {
    filter: saturate(300%) brightness(200%);
  }
  to {
    filter: saturate(100%) brightness(100%);
  }
}

battle-console .line {
  display: flex;
  flex-direction: row;
  line-height: 1.5;
  color: rgba(255, 255, 255, .5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

battle-console .line:first-child {
  animation: shout .3s normal ease-in-out;
}

battle-console .line.😸 {
  background: #0d0d1a;
}

battle-console .line.👍 {
  background: #122710;
}

battle-console .line.info {
  background: #0e1a25;
}

battle-console .line.warn {
  background: #22220c;
}

battle-console .line.runtime,
battle-console .line.error {
  background: #3a090e;
}

battle-console .source {
  width: 100px;
  text-align: right;
  padding-right: 10px;
  opacity: .35;
}

accordion-section {
  display: block;
  background: #2a2e3c;
  border-left: 3px solid #1f4a63;
}

accordion-section.opened {
  display: block;
  background: #2a2e3c;
  border-left: 3px solid #409acf;
}

accordion-section + accordion-section {
  margin-top: 10px;
}

accordion-section .accordion-content {
  display: none;
}

accordion-section.opened .accordion-content {
  display: block;
}

accordion-section .accordion-header {
  font-size: 20px;
  font-weight: normal;
  text-align: left;
  margin: 0 0 5px;
  padding: 3px 20px 9px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
}

accordion-section.opened .accordion-header {
  color: #fff;
}

accordion-section .accordion-header:hover {
  background: #383d50;
  color: rgba(255, 255, 255, 0.7);
}

.container-footer {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  justify-content: space-between;
  background: #1b1e27;
}

.documentation p {
  margin-top: 0;
}

.leaders {
  display: flex;
  justify-content: space-around;
}

leaders-grid {
  display: block;
  background: #2a2e3c;
  color: #69909f;
  border: 1px solid #007a9c;
}

leaders-grid .grid{
  width: 100%;
  border-collapse: collapse;
}

leaders-grid .grid td {
  min-height: 37px;
  padding: 10px;
}

leaders-grid .grid tbody td {
  border-top: 1px solid #007a9c;
}

leaders-grid .unit-img {
  width: 32px;
  height: 32px;
}

leaders-grid .left {
  text-align: left;
}

leaders-grid .right {
  text-align: right;
}

leaders-grid .winner.left {
  background-image: linear-gradient(90deg, transparent, #004100);
}

leaders-grid .winner.right {
  background-image: linear-gradient(90deg, #004100, transparent);
}

leaders-grid .looser.left {
  background-image: linear-gradient(90deg, transparent, #850606);
}

leaders-grid .looser.right {
  background-image: linear-gradient(90deg, #850606, transparent);
}