<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=.25, user-scalable=yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Right player</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
<div class="player">
    <div class="rightSide">
        <div id="display" class="playerDisplay"></div>
    </div>
    <div class="toolbar"></div>
    <div class="editor">
        <div id="editor"></div>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        new window.Client('right');
    });
</script>

<% if (isDevServer) { %>
<script src="/webpack-dev-server.js"></script>
<% } %>
</body>

</html>