<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=.25, user-scalable=yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Правый игрок</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
<div class="player">
    <div class="rightSide">
        <div class="clients-display">
            <div id="enemyClient" class="left"></div>
            <div id="myClient" class="right"></div>
        </div>
        <div id="display" class="playerDisplay"></div>
        <battle-console></battle-console>
    </div>
    <div class="toolbar"></div>
    <div class="editor">
        <div class="name">
            <label for="nickname">Имя: </label>
            <input type="text" id="nickname">
            <button class="sample-button" id="sample">Сгенерировать пример кода</button>
        </div>
        <div id="editor"></div>
    </div>
</div>

<div class="modals"></div>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        new window.Client('right');
    });
</script>

<% if (isDevServer) { %>
<script src="/webpack-dev-server.js"></script>
<% } %>
</body>

</html>