<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=.25, user-scalable=yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Player</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
<div class="player">
    <div class="editor">
        <div id="editor"></div>
    </div>
    <div class="rightSide">
        <input class="tabRadio" type="radio" id="tab1" name="tabs" checked>
        <label for="tab1" class="tabHead">Настройки</label>
        <div class="toolbar tabBody">
          <button id="run">run</button>
        </div>

        <input class="tabRadio" type="radio" id="tab2" name="tabs">
        <label for="tab2" class="tabHead">Игра</label>
        <div id="display" class="playerDisplay tabBody"></div>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        new window.Client();
    });
</script>

<% if (isDevServer) { %>
<script src="/webpack-dev-server.js"></script>
<% } %>
</body>

</html>