<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=.25, user-scalable=yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Heroes of Tinkoff and JS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body class="index-page">

<div class="admin">

</div>

<div class="modals">
  
</div>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        new window.Admin();
    });
</script>

<% if (isDevServer) { %>
<script src="/webpack-dev-server.js"></script>
<% } %>
</body>

</html>