<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=.25, user-scalable=yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Results</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body class="index-page">

<div class="leaders">

</div>

<div class="modals"></div>

<a href="https://github.com/lekzd/script_battle_game" target="_blank">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
</a>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        new window.Index();
    });
</script>

<% if (isDevServer) { %>
<script src="/webpack-dev-server.js"></script>
<% } %>
</body>

</html>